li{
    list-style-type:none;
}

.list-items{
    margin: 1rem;
    font-size: larger;
    border: 1px solid brown;
    padding: 3rem;
    margin: 1rem 4rem;
    margin-right: 7rem;
}

.container{
    text-align: center;
    border: 2px solid rgb(124, 46, 46);
    margin: 4rem;
    border-radius: 5rem;
}
